.input {
  border: none;
  padding: 0.6rem 1rem;
  outline-color: var(--primary);
  width: 100%;
  color: var(--tertiary);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: var(--primary);
  margin-left: 0.4rem;
  font-weight: 600;
}
