.header {
  background-color: var(--primary);
  height: var(--header-height);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--background-light);
}

.navbar {
  display: flex;
  align-items: center;
}

.nav__items {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.nav__items a {
  color: var(--background-light);
}

.nav__items a:hover,
.nav__items a:active,
.header__logo:hover,
.nav__items .active {
  color: var(--secondary);
  cursor: pointer;
}
