*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

ul,
li,
a {
  text-decoration: none;
}

:root {
  --primary: #5b79a8;
  --secondary: #f1ba85;
  --tertiary: #3d3930;
  --background: #d0d8db;
  --background-light: #eef0f4;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}
