*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

ul,
li,
a {
  text-decoration: none;
}

label {
  font-weight: 500;
}

:root {
  --primary: #5b79a8;
  --secondary: #f1ba85;
  --tertiary: #3d3930;
  --background: #d0d8db;
  --background-light: #eef0f4;

  --header-height: 3rem;
}

.btn-primary {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--background-light);
}

.btn-primary:hover {
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  color: var(--tertiary);
  transition: 0.2s all ease-in-out;
}
